* {
  padding: 0;
  margin: 0;
}

h2 {
  font: "Cormorant Unicase", serif;
  font-size: 2em;
  padding: 0.9em;
  /*	color: #ffffff; */
  text-align: center;
}

hr {
  width: 20em;
  height: 2px solid;
  color: blue;
}

.insertar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.insertars {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insertars input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.insertars button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

.enviar {
  height: center;
  text-align: center;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(50, 139, 223, 0.781),
      rgba(8, 6, 6, 0.753)
    ),
    url("../img/fondo_halo.jpg");
}

.body {
  margin: 3em;
}

.usuarios {
  text-decoration: none;
}

.titulo {
  margin: 2em 0 0 0;
  align-content: center;
}

.presentacion {
  margin: 2em 0;
  align-content: center;
}

.opciones {
  margin: 2em;
  align-content: center;
}
